.container {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 40px;

    @media screen and (min-width: 576px) {
        max-width: 540px;
        padding: 0;
    }

    @media screen and (min-width: 768px) {
        max-width: 720px;
    }
    
    @media screen and (min-width: 992px) {
        max-width: 960px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1050px;
    }

    @media screen and (min-width: 1460px) {
        max-width: 1320px;
    }
}