@use 'variables';

.footer {
    &__top {
        background-color: variables.$second-color;
        padding: 50px 0;
        color: #fff;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
    }

    &__subtitle {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.1px;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__link, &__text {
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.2px;
    }

    &__bottom {
        padding: 25px 0;
        background-color: #FAFAFA;
    }

    &__line {
        display: flex;
        flex-direction: column;
        gap: 50px;
        font-size: 14px;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            align-items: center;
            gap: 0;
            justify-content: space-between;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}