
.subscribe {
    background-color: #16697A;

    @media screen and (min-width: 768px) {
        background-color: #FAFAFA;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        padding: 30px 0;
        gap: 30px;
        background-color: #16697A;
        color: #fff;

        @media screen and (min-width: 768px) {
            position: relative;
            z-index: 2;
            gap: 0;
            text-align: start;
            flex-direction: row;
            padding: 30px 50px;
            margin-bottom: -55px;    
        }
    }

    &__footer {
        @media screen and (min-width: 768px) {
            background-color: #252B42;
            height: 75px;
        }
    }

    &__name {
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0.1px;

        @media screen and (min-width: 768px) {
            width: 33%;
        }
    }

    &__form {
        width: 100%;

        @media screen and (min-width: 768px) {
            width: 50%;
        }
    }
}